/* Color Palette:
    #0A0908 - Black
    #22333B - Gunmetal
    #EAE0D5 - Almond
    #C6AC8F - Khaki
    #A59178 - Beaver */

* {
    /* border: 0.5px solid lightgrey; */
    font-family: Arial, Helvetica, sans-serif;
    color: #22333B;
    padding: 0;
    margin: 0;
}

body {
    padding: 25px 100px;
}

/* Homepage Logo */
.logo {
    display: block;
    margin: 10px auto;
}

/* Page Title */
.section-title {
    text-align: center;
    width: fit-content;
    margin: 10px auto;
    border-bottom: 4px solid white;
    margin-bottom: 40px;
}

.section-title:hover {
    border-bottom: 4px solid #C6AC8F;
    transition: .05s ease-in;
    cursor: pointer;
}

/* Recipe Cards */
div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.recipe-grid-container {
    display: flex;
    justify-content: center;
    border: 1px solid red;
}

.recipe-grid {
    width: 80%px;
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 1px solid red;
}

.recipe-card {
    border: 1px solid red;
    width: 200px;
    height: 150px;
}

.recipe-img {
    width: 200px;
    height: 200px;
}

.recipe-label {
    text-align: center;
    background-color: #C6AC8F;
    padding: 10px;
}




/* Style for description, ingredients, steps */
/* Applies to recipe pages only */
.ingredients {
    background-color: #EAE0D5;
}