/* Color Palette:
    #0A0908 - Black
    #22333B - Gunmetal
    #EAE0D5 - Almond
    #C6AC8F - Khaki
    #A59178 - Beaver */

* {
    /* border: 0.5px solid lightgrey; */
    font-family: Arial, Helvetica, sans-serif;
    color: #22333B;
    padding: 0;
    margin: 0;
}

body {
    padding: 25px 100px;
}

/* Homepage Header */
.logo {
    display: block;
    margin: 10px auto;
}

.section-title {
    text-align: center;
    width: fit-content;
    margin: 10px auto;
    border-bottom: 4px solid white;

}

.section-title:hover {
    border-bottom: 4px solid #C6AC8F;
    transition: .05s ease-in;
    cursor: pointer;
}

/* Recipe Links */
.list {
    list-style: none;
    padding: 10px;
}

.recipe-link {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}

.recipe-link:hover {
    background-color: #22333B;
    color: white;
    font-weight: bold;
}


/* Style for ingredients */
/* Applies to recipe pages only */
.ingredients {
    background-color: #EAE0D5;
}